<br><br><br>
<div class="container">
<div class="row">
    <div class="col-sm">
<div class="card">

    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap" style="width: 100%">

    <div class="card-body">

        <h4 class="card-title"><a>Card title</a></h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Button</a>

    </div>

</div>
    </div>



    <div class="col-sm">
    <div class="card ">

        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">

        <div class="card-body">

            <h4 class="card-title"><a>Card title</a></h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Button</a>

        </div>

    </div>
    </div>

    <div class="col-sm">

    <div class="card">

        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">

        <div class="card-body">

            <h4 class="card-title"><a>Card title</a></h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Button</a>

        </div>

    </div>
    </div>

</div>

    <br><br>


    <div class="row">
        <div class="col-sm">
            <div class="card">

                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap" style="width: 100%">

                <div class="card-body">

                    <h4 class="card-title"><a>Card title</a></h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Button</a>

                </div>

            </div>
        </div>



        <div class="col-sm">
            <div class="card ">

                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">

                <div class="card-body">

                    <h4 class="card-title"><a>Card title</a></h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Button</a>

                </div>

            </div>
        </div>

        <div class="col-sm">

            <div class="card">

                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">

                <div class="card-body">

                    <h4 class="card-title"><a>Card title</a></h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Button</a>

                </div>

            </div>
        </div>

    </div>


</div>
