.centro{
    background-image: url("/img/Index.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.centro > h1, .centro > h5{
    color: #1C2331;
}

.centro > h1{
    font-size: 4em;
}

.centro > h5{
    font-size: 1.5em;
}

#status{
    color: #1C2331;
    font-weight: bold;
}