<div style="height: 100vh">
    <div class="flex-center flex-column">
        <h1 class="animated fadeIn mb-2">La lista</h1>

        <h5 class="animated fadeIn mb-1">El lugar donde aparecen tus productos</h5>
        <br>
    </div>
</div>